.iphone-13-14-3-child {
    position: absolute;
    top: 68px;
    left: 23px;
    background-color: var(--color-maroon);
    width: 343px;
    height: 137px;
  }
  .select-a-sport {
    position: absolute;
    top: 77px;
    left: 41px;
    font-size: var(--font-size-29xl);
    display: inline-block;
    width: 308px;
    height: 140px;
  }
  .component-17-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-maroon);
  }
  .more {
    position: absolute;
    height: 62.07%;
    width: 76.67%;
    top: 8.62%;
    left: 12.78%;
    display: inline-block;
  }
  .component-17 {
    position: absolute;
    top: 777px;
    left: 103px;
    width: 180px;
    height: 58px;
  }
  .component-18-child {
    position: absolute;
    height: 94.04%;
    width: 22.7%;
    top: 48.94%;
    right: 77.3%;
    bottom: -42.98%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .back {
    position: absolute;
    height: 100%;
    width: 93.25%;
    top: 0;
    left: 6.75%;
    display: inline-block;
  }
  .component-18 {
    position: absolute;
    top: 9px;
    left: 29px;
    width: 163px;
    height: 47px;
    cursor: pointer;
    font-size: var(--font-size-17xl);
  }
  .iphone-13-14-3-inner {
    position: absolute;
    height: 5.24%;
    width: 9.49%;
    top: 3.79%;
    right: 83.08%;
    bottom: 90.97%;
    left: 7.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .back1,
  .volleyball {
    position: absolute;
    display: inline-block;
  }
  .back1 {
    height: 5.57%;
    width: 38.97%;
    top: 1.07%;
    left: 10.26%;
    font-size: var(--font-size-17xl);
  }
  .volleyball {
    height: 51.95%;
    width: 84.36%;
    top: 23.38%;
    left: 9.09%;
  }
  .component-12 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .component-46 {
    position: absolute;
    top: 223px;
    left: 54px;
    width: 275px;
    height: 77px;
    cursor: pointer;
  }
  .cricket {
    position: absolute;
    height: 77.92%;
    width: 88%;
    top: 16.88%;
    left: 6.18%;
    display: inline-block;
  }
  .component-47 {
    position: absolute;
    top: 334px;
    left: 54px;
    width: 275px;
    height: 77px;
    cursor: pointer;
  }
  .kabbadi {
    position: absolute;
    height: 77.92%;
    width: 93.82%;
    top: 11.69%;
    left: 5.45%;
    display: inline-block;
  }
  .component-48 {
    position: absolute;
    top: 445px;
    left: 54px;
    width: 275px;
    height: 77px;
    cursor: pointer;
  }
  .component-15-child {
    position: absolute;
    height: 98.72%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 1.28%;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-maroon);
  }
  .badminton {
    position: absolute;
    height: 82.05%;
    width: 93.82%;
    top: 17.95%;
    left: 3.27%;
    display: inline-block;
  }
  .component-49 {
    position: absolute;
    top: 556px;
    left: 54px;
    width: 275px;
    height: 78px;
    cursor: pointer;
  }
  .football {
    position: absolute;
    height: 81.82%;
    width: 94.91%;
    top: 18.18%;
    left: 2.55%;
    display: inline-block;
  }
  .component-50 {
    position: absolute;
    top: 667px;
    left: 54px;
    width: 275px;
    height: 77px;
    cursor: pointer;
  }
  .iphone-13-14-3 {
    width: 100%;
    position: relative;
    background-color: var(--color-darkred);
    height: 844px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-jura);
  }
  